@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;

}
